.spinner {
  display: inline-flex;
  animation: spin 1s linear infinite;
}

.spinner svg {
  width: 100%;
  height: 100%;
}

.sm {
  width: 20px;
  height: 20px;
}

.md {
  width: 32px;
  height: 32px;
}

.lg {
  width: 48px;
  height: 48px;
}

.track {
  opacity: 0.2;
}

.arc {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
